<form class="form-signin" method="POST" style="width:35%" action="/">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="42px" height="72px">
    <h1 class="h3 mb-3 font-weight-normal">Contact us</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input name="text" type="email" id="inputName" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputContact" class="sr-only">Contact Number</label>
    <input name="contact" type="text" id="inputContact" class="form-control" placeholder="Contact number" required autofocus>
    <label for="inputMessage" class="sr-only">Message</label>
    <input name="message" type="text" id="inputMessage" class="form-control" placeholder="Message" required>
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="alert('Message Sent')">SEND</button>
</form>