<form method="POST" class="form-signup"  style="width:35%">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="42px" height="72px">
    <h2 class="form-title">Create account</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword2" class="sr-only">Repeat Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Repeat password" required>
    <select class="selectAcc">
        <option class="sr-only" value="acc">Type of account</option>
        <option class="sr-only" value="customer">Customer</option>
        <option class="sr-only" value="seller">Seller</option></br>
    </select>

    </br></br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
</form>
<p class="loginhere">
    Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
</p>
