<form method="POST" class="addProd"  style="width:35%" action="/sellproductpost">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="42px" height="72px">
    <h2 class="form-title">Sell product here...</h2>
    <label for="name" class="sr-only">Product name</label>
    <input name="name" type="text" id="prodName" class="form-control" placeholder="Product name" required autofocus>
    <label for="price" class="sr-only">Price</label>
    <input name="price" type="text" id="prodPrice" class="form-control" placeholder="Price" required autofocus>
    <label for="category" class="sr-only">Category</label>
    <input name="category" type="text" id="prodCategory" class="form-control" placeholder="Category e.g. Women's Clothing" required autofocus>
    <label for="description" class="sr-only">Description</label>
    <input name="description" type="text" id="prodDescription" class="form-control" placeholder="Description" required autofocus>
    <label for="img" class="sr-only">Image</label>
    <input name="image" type="text" id="prodImage" class="form-control" placeholder="Upload image" required autofocus>
    <label for="qty" class="sr-only">Quantity</label>
    <input name="quantity" type="text" id="prodQuantity" class="form-control" placeholder="Quantity" required autofocus>
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">SELL PRODUCT</button>
</form>